<ion-content class="ion-padding">

  <div class="img-logos ion-text-center">
    <img src="assets/img/logo.png" class="logo" />
    <img src="assets/img/as.png" class="as" /><br>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-card-header class="ion-text-center">
        <ion-card-title>Actualización de Contraseña</ion-card-title>
        <ion-card-subtitle>Por favor ingresa una nueva contraseña, en los dos campos para validar que sea la misma. Este proceso solo es necesario una vez que creas tu usuario.</ion-card-subtitle>
      </ion-card-header>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" required name="password" #password></ion-input>
      </ion-item><br>
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" required name="conpassword" #conpassword (ionChange)="verificar(password, conpassword)"></ion-input>
      </ion-item><br>
      <ion-button expand="block" fill="solid" shape="round" (click)="actualizar(password)">
        Actualizar contraseña
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>